[
  {
    "state": "Assam",
    "year": 2020,
    "deaths": 0,
    "culled": 0
  },
  {
    "state": "Nagaland",
    "year": 2020,
    "deaths": 0,
    "culled": 0
  },
  {
    "state": "Mizoram",
    "year": 2020,
    "deaths": 0,
    "culled": 0
  }
]
